Repository cgerard321/champlain_petclinic, pull requests merged in 2021-10, with the labels that each got.

#99 conf(BILL-CPC-245): Add Swagger
  billing-service/build.gradle
Labels: BILL

#110 Feat(VETS-CPC-231): Front-End Data Validation
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.controller.js
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.template.html
  vets-service/src/main/java/com/petclinic/vets/datalayer/DataValidation.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/Specialty.java
Labels: VETS

#120 feat(VISE-CPC-99): Retrieve Vet Workdays from Select for Visits
  api-gateway/src/main/resources/static/scripts/visits/visits.template.html
Labels: VISE

#115 feat(VISE-CPC-194): Add exception handling
  visits-service/build.gradle
  visits-service/src/main/java/com/petclinic/visits/businesslayer/VisitsService.java
  visits-service/src/main/java/com/petclinic/visits/businesslayer/VisitsServiceImpl.java
  visits-service/src/main/java/com/petclinic/visits/datalayer/Visit.java
  visits-service/src/main/java/com/petclinic/visits/presentationlayer/VisitResource.java
  visits-service/src/main/java/com/petclinic/visits/utils/exceptions/InvalidInputException.java
  visits-service/src/main/java/com/petclinic/visits/utils/exceptions/NotFoundException.java
  visits-service/src/main/java/com/petclinic/visits/utils/http/ControllerExceptionHandler.java
  visits-service/src/main/java/com/petclinic/visits/utils/http/HttpErrorInfo.java
  visits-service/src/main/resources/application.properties
  visits-service/src/test/java/com/petclinic/visits/businesslayer/VisitsServiceImplTests.java
  visits-service/src/test/java/com/petclinic/visits/presentationlayer/VisitResourceTest.java
Labels: VISE

#124 feat(VISE-CPC-265): Display more vet info when selected
  api-gateway/src/main/resources/static/scripts/visits/visits.controller.js
  api-gateway/src/main/resources/static/scripts/visits/visits.template.html
Labels: VISE

#114 feat/CUST-CPC-260_Setup_API_pet
  customers-service/src/main/java/com/petclinic/customers/businesslayer/PetService.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/PetServiceImpl.java
  customers-service/src/main/java/com/petclinic/customers/datalayer/Owner.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetRequest.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetResource.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetTypesResource.java
Labels: CUST

#118 feat(VETS-CPC-240): Jacoco Testing Upgrade
  vets-service/build.gradle
  vets-service/src/main/java/com/petclinic/vets/businesslayer/VetServiceImpl.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/DataValidation.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/Specialty.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/Vet.java
  vets-service/src/main/java/com/petclinic/vets/presentationlayer/VetResource.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/DataValidationTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/SpecialtyEntityTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/UtilsCustomExceptionsTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/UtilsHttpTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetBusinessLayerTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetEntityTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetResourceTest.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetsServiceApplicationTest.java
Labels: VETS

#96 feat(MAIL-CPC-283): Add SMTP
  docker-compose.yml
  mailer-service/Dockerfile
  mailer-service/go.mod
  mailer-service/go.sum
  mailer-service/mailer/controller/mailer.controller.go
  mailer-service/mailer/controller/mailer.controller_test.go
  mailer-service/mailer/mailer.go
  mailer-service/mailer/service/mailer.service.go
  mailer-service/mailer/service/mailer.service_test.go
  mailer-service/main.go
Labels: enhancement, MAIL

#130 feat(AUTH-CPC-266): added headers
  auth-service/Dockerfile
  auth-service/build.gradle
  auth-service/src/main/java/com/petclinic/auth/AuthServiceApplication.java
  auth-service/src/main/java/com/petclinic/auth/Config/PasswordEncoder.java
  auth-service/src/main/java/com/petclinic/auth/Config/PasswordStrengthCheck.java
  auth-service/src/main/java/com/petclinic/auth/Config/PasswordValidation.java
  auth-service/src/main/java/com/petclinic/auth/Config/SpringSecurityConfig.java
  auth-service/src/main/java/com/petclinic/auth/Role/Role.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleController.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleIDLessDTO.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleMapper.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleRepo.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleService.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleServiceImpl.java
  auth-service/src/main/java/com/petclinic/auth/User/User.java
  auth-service/src/main/java/com/petclinic/auth/User/UserController.java
  auth-service/src/main/java/com/petclinic/auth/User/UserIDLessDTO.java
  auth-service/src/main/java/com/petclinic/auth/User/UserMapper.java
  auth-service/src/main/java/com/petclinic/auth/User/UserRepo.java
  auth-service/src/main/java/com/petclinic/auth/User/UserService.java
  auth-service/src/main/java/com/petclinic/auth/User/UserServiceImpl.java
  auth-service/src/main/resources/db/migration/V1.1__Add_roles_table.sql
  auth-service/src/main/resources/db/migration/V1.2__Add_roles_user_bridge.sql
  auth-service/src/main/resources/db/migration/V1__Initial.sql
  auth-service/src/test/java/com/petclinic/auth/AuthServiceApplicationTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServicePersistenceTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleControllerTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleRepoTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleServiceTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserControllerTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserRepoTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserServiceTests.java
Labels: AUTH

#105 feat(AUTH-CPC-298): Integrate mailer
  auth-service/build.gradle
  auth-service/lombok.config
  auth-service/src/main/java/com/petclinic/auth/Config/MailServiceConfig.java
  auth-service/src/main/java/com/petclinic/auth/Mail/Mail.java
  auth-service/src/main/java/com/petclinic/auth/Mail/MailService.java
  auth-service/src/main/java/com/petclinic/auth/Mail/MailServiceCall.java
  auth-service/src/main/java/com/petclinic/auth/Mail/MailServiceImpl.java
  auth-service/src/main/resources/application.yml
  auth-service/src/test/java/com/petclinic/auth/AuthMailServiceTests.java
Labels: AUTH, MAIL

#137 bug(CUST-CPC-203): Fix Customer-Service Tests V2
  customers-service/src/main/java/com/petclinic/customers/CustomersServiceApplication.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/OwnerService.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/OwnerServiceImpl.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/PetService.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/PetServiceImpl.java
  customers-service/src/main/java/com/petclinic/customers/datalayer/Owner.java
  customers-service/src/main/java/com/petclinic/customers/datalayer/OwnerRepository.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/OwnerResource.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetResource.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerApiTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerPersistenceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerResourceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerServiceTest.java
Labels: CUST

#142 bug(CUST-CPC-316):Fix Pet Tests
  customers-service/build.gradle
  customers-service/src/main/java/com/petclinic/customers/businesslayer/PetServiceImpl.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetRequest.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/PetResource.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerPersistenceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/PetAPITest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/PetPersistenceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/PetResourceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/PetServiceTest.java
Labels: CUST

#138 feat(AUTH-CPC-213) add get and delete to user entity
  auth-service/src/main/java/com/petclinic/auth/Exceptions/NotFoundException.java
  auth-service/src/main/java/com/petclinic/auth/User/UserController.java
  auth-service/src/main/java/com/petclinic/auth/User/UserService.java
  auth-service/src/main/java/com/petclinic/auth/User/UserServiceImpl.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceApplicationTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleDTOTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleEntityTests.java
  auth-service/src/test/java/com/petclinic/auth/Role/AuthServiceRoleMapperTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserControllerTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserDTOTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserEntityTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserMapperTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserServiceTests.java
Labels: AUTH

#132 feat(VETS-CPC-234): Visual changes on ui to implement file upload (resume and picture)
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.template.html
  vets-service/src/main/java/com/petclinic/vets/datalayer/WorkDay.java
  vets-service/src/main/resources/data-h2.sql
  vets-service/src/main/resources/db/hsqldb/schema.sql
  vets-service/src/main/resources/schema-h2.sql
  vets-service/src/main/resources/schema-mysql.sql
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetBusinessLayerTest.java
Labels: VETS

#149 feat(VISE-CPC-333) : Add sorting by columns for Previous Visits
  api-gateway/src/main/resources/static/scripts/visits/visits.controller.js
  api-gateway/src/main/resources/static/scripts/visits/visits.template.html
  visits-service/src/main/resources/data-h2.sql
  visits-service/src/main/resources/data-mysql.sql
Labels: VISE

#123 feat(APIG-CPC-290): Add Swagger UI in build.gradle
  api-gateway/build.gradle
Labels: APIG

#150 conf/AUTH-CPC-207_Password_Validate_Tests
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserControllerTests.java
Labels: AUTH

#152 feat(AUTH-CPC-310): Register user
  auth-service/src/main/java/com/petclinic/auth/Config/PasswordEncoderConfig.java
  auth-service/src/main/java/com/petclinic/auth/Config/SpringSecurityConfig.java
  auth-service/src/main/java/com/petclinic/auth/User/User.java
  auth-service/src/main/java/com/petclinic/auth/User/UserController.java
  auth-service/src/main/java/com/petclinic/auth/User/UserIDLessDTO.java
  auth-service/src/main/java/com/petclinic/auth/User/UserMapper.java
  auth-service/src/main/java/com/petclinic/auth/User/UserPasswordLessDTO.java
  auth-service/src/main/java/com/petclinic/auth/User/UserServiceImpl.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserControllerTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserMapperTests.java
  auth-service/src/test/java/com/petclinic/auth/User/AuthServiceUserServiceTests.java
Labels: AUTH

#153 feat(VETS-CPC-233): Upgrade Modal and Table
  api-gateway/src/main/resources/static/css/vets/modal.css
  api-gateway/src/main/resources/static/css/vets/vetTable.css
  api-gateway/src/main/resources/static/images/vet_default.jpg
  api-gateway/src/main/resources/static/index.html
  api-gateway/src/main/resources/static/scripts/vet-list/vet-list.controller.js
  api-gateway/src/main/resources/static/scripts/vet-list/vet-list.template.html
Labels: VETS

#74 feat(APIG-CPC 48): Get billing info by ID
  api-gateway/build.gradle
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/BillServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/BillDetails.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/com/petclinic/bffapigateway/BFFApiGatewayApplicationTests.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
  billing-service/src/main/java/com/petclinic/billing/businesslayer/BillMapper.java
  billing-service/src/main/java/com/petclinic/billing/datalayer/Bill.java
  billing-service/src/main/java/com/petclinic/billing/datalayer/BillDTO.java
  docker-compose.yml
Labels: APIG

#174 bug(CUST-CPC-367): Fixing Owner Table
  api-gateway/src/main/resources/static/scripts/owner-details/owner-details.controller.js
  api-gateway/src/main/resources/static/scripts/owner-details/owner-details.template.html
  api-gateway/src/main/resources/static/scripts/owner-list/owner-list.template.html
  customers-service/src/main/resources/data-h2.sql
  customers-service/src/main/resources/data-mysql.sql
  customers-service/src/main/resources/schema-h2.sql
  customers-service/src/main/resources/schema-mysql.sql
Labels: CUST

#190 feat(CUST-CPC-403):Created all necessary tests for HttpErrorInfo class thus, increasing code coverage
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/ExceptionsTests.java
Labels: CUST

#188 feat(CUST-CPC-409): Implementing buttons for UI
  api-gateway/src/main/resources/static/scripts/owner-details/owner-details.template.html
  api-gateway/src/main/resources/static/scripts/owner-list/owner-list.template.html
  api-gateway/src/main/resources/static/scripts/pet-form/pet-form.template.html
Labels: CUST

#193 feat(VISE-CPC-384): Cancel a Visit Through UI
  api-gateway/src/main/resources/static/scripts/visits/visits.controller.js
  api-gateway/src/main/resources/static/scripts/visits/visits.template.html
Labels: VISE

#204 bug(VISE-CPC-491): Fixed bug where incorrect data would be sent when editing a visit
  api-gateway/src/main/resources/static/scripts/visits/visits.controller.js
  api-gateway/src/main/resources/static/scripts/visits/visits.template.html
Labels: VISE

#208 feat(VISE-CPC-496): Get a Single Visit by Visit ID
  visits-service/src/main/java/com/petclinic/visits/businesslayer/VisitsService.java
  visits-service/src/main/java/com/petclinic/visits/businesslayer/VisitsServiceImpl.java
  visits-service/src/main/java/com/petclinic/visits/presentationlayer/VisitResource.java
  visits-service/src/test/java/com/petclinic/visits/businesslayer/VisitsServiceImplTests.java
  visits-service/src/test/java/com/petclinic/visits/datalayer/PersistenceTests.java
  visits-service/src/test/java/com/petclinic/visits/presentationlayer/VisitResourceTest.java
Labels: VISE

#221 feat(APIG-CPC-331): Get request for previous visits of a pet
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/VisitDetails.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#222 feat(APIG-CPC-332): Get request for scheduled visits of a pet
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#220 FEAT(APIG-CPC-501) Create test_all.bash
  test_all.bash
Labels: APIG
