Repository cgerard321/champlain_petclinic, pull requests merged in 2021-09, with the labels that each got.

#7 conf(VETS-CPC-126): Multi-Step Dockerfile setup
  vets-service/.gitignore
  vets-service/Dockerfile
Labels: VETS

#17 bug(AUTH-CPC-160): use role service instead of repo
  auth-service/build.gradle
  auth-service/src/main/java/com/petclinic/auth/Role/Role.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleController.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleIDLessDTO.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleService.java
  auth-service/src/main/java/com/petclinic/auth/Role/RoleServiceImpl.java
  auth-service/src/main/java/com/petclinic/auth/User/User.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceApplicationTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServicePersistenceTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceRoleControllerTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceRoleRepoTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceRoleServiceTests.java
Labels: bug, AUTH

#53 Feat/(BILL-CPC83): Set_Up_Exception_Handling
  billing-service/src/main/java/com/petclinic/billing/exceptions/InvalidInputException.java
  billing-service/src/main/java/com/petclinic/billing/http/BillControllerExceptionHandler.java
  billing-service/src/main/java/com/petclinic/billing/http/HttpErrorInfo.java
  billing-service/src/main/java/com/petclinic/billing/presentationlayer/BillResource.java
Labels: BILL

#51 feat(VETS-CPC-37): Adding a Vet, tests and issues resolved
  api-gateway/src/main/resources/static/css/petclinic.css
  api-gateway/src/main/resources/static/images/tracks-pattern.png
  api-gateway/src/main/resources/static/index.html
  api-gateway/src/main/resources/static/scripts/app.js
  api-gateway/src/main/resources/static/scripts/owner-details/owner-details.template.html
  api-gateway/src/main/resources/static/scripts/owner-form/owner-form.template.html
  api-gateway/src/main/resources/static/scripts/owner-list/owner-list.template.html
  api-gateway/src/main/resources/static/scripts/pet-form/pet-form.template.html
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.component.js
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.controller.js
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.js
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.template.html
  api-gateway/src/main/resources/static/scripts/vet-list/vet-list.template.html
  billing-service/build.gradle
  billing-service/src/main/java/com/petclinic/billing/datalayer/BillDTO.java
  billing-service/src/main/java/com/petclinic/billing/exceptions/InvalidInputException.java
  billing-service/src/main/java/com/petclinic/billing/http/BillControllerExceptionHandler.java
  billing-service/src/main/java/com/petclinic/billing/http/HttpErrorInfo.java
  billing-service/src/main/java/com/petclinic/billing/presentationlayer/BillResource.java
  billing-service/src/test/java/com/petclinic/billing/businesslayer/BillServiceImplTest.java
  customers-service/Dockerfile
  vets-service/src/main/java/com/petclinic/vets/datalayer/AnimalTreated.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/Vet.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/VetRepository.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/WorkDay.java
  vets-service/src/main/java/com/petclinic/vets/presentationlayer/VetResource.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetResourceTest.java
Labels: enhancement, VETS

#45 Feat/apig cpc 86 owner register
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthenticationServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CustomersServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/UserDetails.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/CustomerServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#64 Feat/CUST-CPC-42-FIND CUSTOMER
  customers-service/src/main/java/com/petclinic/customers/CustomersServiceApplication.java
  customers-service/src/main/java/com/petclinic/customers/businesslayer/OwnerServiceImpl.java
  customers-service/src/main/java/com/petclinic/customers/datalayer/OwnerRepository.java
  customers-service/src/main/java/com/petclinic/customers/presentationlayer/OwnerResource.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerApiTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerPersistenceTest.java
  customers-service/src/test/java/com/petclinic/customers/presentationlayer/OwnerServiceTest.java
Labels: CUST

#68 FEAT/APIG-CPC-53_authentication_create_user
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthenticationServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#69 Feat/(APIG-CPC-131): Update owners http communication
  api-gateway/Dockerfile
  api-gateway/src/main/java/com/petclinic/bffapigateway/BFFApiGatewayApplication.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CustomersServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/static/scripts/owner-list/owner-list.controller.js
  api-gateway/src/test/java/com/petclinic/bffapigateway/BFFApiGatewayApplicationTests.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#77 feat(APIG-CPC-62) Delete User Request (Auth)
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/UserDetails.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#85 Bug(AUTH-CPC-205): signup password hidden
  api-gateway/src/main/resources/static/scripts/auth/signup/signup-form.component.js
  api-gateway/src/main/resources/static/scripts/auth/signup/signup-form.controller.js
  api-gateway/src/main/resources/static/scripts/auth/signup/signup-form.js
  api-gateway/src/main/resources/static/scripts/auth/signup/signup-form.template.html
Labels: bug, AUTH

#87 conf(VISE-CPC-216): Added dependency for Swagger UI
  visits-service/build.gradle
Labels: VISE

#88 conf(VISE-CPC-215): Added Jacoco
  visits-service/build.gradle
Labels: VISE

#71 feat(APIG-CPC-51): Get User Request (Auth)
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
Labels: APIG

#91 feat(MAIL-CPC-257): Add mail endpoint
  .github/workflows/go.yml
  cover.sh
  go.mod
  mailer-service/go.mod
  mailer-service/go.sum
  mailer-service/mailer/controller/mailer.controller.go
  mailer-service/mailer/controller/mailer.controller_test.go
  mailer-service/mailer/controller/middleware.go
  mailer-service/mailer/controller/middleware_test.go
  mailer-service/mailer/mailer.go
  mailer-service/main.go
Labels: enhancement, MAIL

#90 Feat(VETS-CPC-229): Error Handling
  .gitignore
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/VetDetails.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/static/index.html
  api-gateway/src/main/resources/static/scripts/vet-details/vet-details.template.html
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.template.html
  vets-service/src/main/java/com/petclinic/vets/datalayer/Vet.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/VetRepository.java
  vets-service/src/main/java/com/petclinic/vets/presentationlayer/VetResource.java
  vets-service/src/main/java/com/petclinic/vets/utils/exceptions/InvalidInputException.java
  vets-service/src/main/java/com/petclinic/vets/utils/exceptions/NotFoundException.java
  vets-service/src/main/java/com/petclinic/vets/utils/exceptions/UnavailableServiceException.java
  vets-service/src/main/java/com/petclinic/vets/utils/http/GlobalControllerExceptionHandler.java
  vets-service/src/main/java/com/petclinic/vets/utils/http/HttpErrorInfo.java
  vets-service/src/main/java/com/petclinic/vets/utils/http/ServiceUtil.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetResourceTest.java
Labels: VETS

#92 conf(VISE-CPC-282): Configuring Lombok to ignore auto generated methods for Jacoco
  visits-service/build.gradle
  visits-service/lombok.config
  visits-service/src/main/java/com/petclinic/visits/presentationlayer/VisitResource.java
  visits-service/src/test/java/com/petclinic/visits/businesslayer/VisitsServiceImplTests.java
  visits-service/src/test/java/com/petclinic/visits/presentationlayer/VisitResourceTest.java
Labels: VISE

#93 bug(VISE-CPC-212): Fixed ID Setter and Removed Duplicate ID Setter
  visits-service/src/main/java/com/petclinic/visits/datalayer/Visit.java
Labels: VISE

#100 Feat(VETS-CPC-229): Error Handling
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/resources/static/index.html
  api-gateway/src/main/resources/static/scripts/app.js
  api-gateway/src/main/resources/static/scripts/vet-form/vet-form.template.html
  auth-service/src/main/java/com/petclinic/auth/User/User.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceApplicationTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServicePersistenceTests.java
  auth-service/src/test/java/com/petclinic/auth/AuthServiceUserServiceTests.java
  vets-service/src/main/java/com/petclinic/vets/businesslayer/VetServiceImpl.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/DataValidation.java
  vets-service/src/main/java/com/petclinic/vets/datalayer/Vet.java
  vets-service/src/main/java/com/petclinic/vets/utils/http/GlobalControllerExceptionHandler.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetResourceTest.java
Labels: VETS

#102 Feat(VETS-CPC-236): Vet search field
  api-gateway/src/main/resources/static/index.html
  api-gateway/src/main/resources/static/scripts/vet-details/vet-details.template.html
  api-gateway/src/main/resources/static/scripts/vet-list/vet-list.template.html
  vets-service/src/main/java/com/petclinic/vets/utils/exceptions/UnavailableServiceException.java
  vets-service/src/test/java/com/petclinic/vets/presentationlayer/VetResourceTest.java
Labels: VETS
