Repository cgerard321/champlain_petclinic, pull requests merged in 2024-10, with the labels that each got.

#798 feat/CART-CPC-1255 change the List of product ids to a list of product objects
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Cart/CartProductResponseDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Cart/CartResponseDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/CartController.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartService.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/dataaccesslayer/Cart.java
  cart-service/src/main/java/com/petclinic/cartsservice/dataaccesslayer/cartproduct/CartProduct.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartController.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartResponseModel.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/DataLoaderService.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/EntityModelUtil.java
  cart-service/src/test/java/com/petclinic/cartsservice/businesslayer/CartServiceUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/dataaccesslayer/CartRepositoryUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerIntegrationTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/utils/EntityModelUtilTest.java
  docker-compose_no_FE.yml
  emailing-service/emailing-service/obj/Debug/net8.0/emailing-service.csproj.AssemblyReference.cache
  petclinic-frontend/src/features/carts/components/CartTable.css
  petclinic-frontend/src/features/carts/components/CartTable.tsx
  petclinic-frontend/src/features/carts/components/UserCart.tsx
  petclinic-frontend/src/router.tsx
Labels: CART

#837 feat(CUST-CPC1229): admin or vet can delete customer pet
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CustomersServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/PetController.java
  customers-service-reactive/src/main/java/com/petclinic/customersservice/business/PetService.java
  customers-service-reactive/src/main/java/com/petclinic/customersservice/business/PetServiceImpl.java
  customers-service-reactive/src/main/java/com/petclinic/customersservice/presentationlayer/PetController.java
  petclinic-frontend/src/features/customers/api/deletePet.ts
  petclinic-frontend/src/features/customers/api/updatePet.ts
  petclinic-frontend/src/features/customers/components/CustomerDetails.tsx
  petclinic-frontend/src/features/customers/components/UpdatePetForm.css
  petclinic-frontend/src/features/customers/components/UpdatePetForm.tsx
  petclinic-frontend/src/pages/Customer/AllOwners.css
  petclinic-frontend/src/pages/Customer/AllOwners.tsx
Labels: feat, CUST

#855 feat(CART-CPC-1256): implemented the wish list and worked on a better ui for the user cart page
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Cart/CartResponseDTO.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/dataaccesslayer/Cart.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartResponseModel.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/DataLoaderService.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/EntityModelUtil.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  petclinic-frontend/src/features/carts/components/CartItem.css
  petclinic-frontend/src/features/carts/components/CartItem.tsx
  petclinic-frontend/src/features/carts/components/CartTable.tsx
  petclinic-frontend/src/features/carts/components/UserCart.css
  petclinic-frontend/src/features/carts/components/UserCart.tsx
  petclinic-frontend/src/pages/Carts/Cart.tsx
Labels: CART

#860 feat(CUST-CPC-1228): tests for vet or admin can delete customer pet
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/PetControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigCustomersService.java
  customers-service-reactive/src/test/java/com/petclinic/customersservice/business/PetServiceUnitTest.java
  customers-service-reactive/src/test/java/com/petclinic/customersservice/presentationlayer/PetControllerUnitTest.java
Labels: CUST

#878 feat(AUTH-CPC-1189): users can reset their password
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Auth/UserEmailRequestDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Auth/UserResetPwdRequestModel.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/UserController.java
  api-gateway/src/main/resources/static/scripts/auth/forgot-pwd-form/forgot-pwd-form.controller.js
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/UserControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/UserServiceImpl.java
  petclinic-frontend/src/features/bills/AdminBillsListTable.css
  petclinic-frontend/src/features/bills/AdminBillsListTable.tsx
  petclinic-frontend/src/features/users/api/processPasswordReset.ts
  petclinic-frontend/src/features/users/api/sendForgotPasswordEmail.ts
  petclinic-frontend/src/features/users/components/ForgotPasswordForm.css
  petclinic-frontend/src/features/users/components/ForgotPasswordForm.tsx
  petclinic-frontend/src/features/users/components/ResetPasswordForm.css
  petclinic-frontend/src/features/users/components/ResetPasswordForm.tsx
  petclinic-frontend/src/features/users/model/UserPasswordAndTokenRequestModel.ts
  petclinic-frontend/src/features/users/model/UserRequestEmailModel.ts
  petclinic-frontend/src/pages/User/ForgotPassword.tsx
  petclinic-frontend/src/pages/User/Login.css
  petclinic-frontend/src/pages/User/Login.tsx
  petclinic-frontend/src/pages/User/ResetPassword.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/api/axiosErrorResponseHandler.ts
  petclinic-frontend/src/shared/api/axiosInstance.ts
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: feat, AUTH

#891 feat(CART-CPC-1224): added two functions to move cart products between the main cart and the wish list
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/CartController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClientTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/CartControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/CartControllerUnitTest.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartService.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartController.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/DataLoaderService.java
  cart-service/src/test/java/com/petclinic/cartsservice/businesslayer/CartServiceUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerIntegrationTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  petclinic-frontend/src/features/carts/components/CartItem.css
  petclinic-frontend/src/features/carts/components/CartItem.tsx
  petclinic-frontend/src/features/carts/components/UserCart.tsx
Labels: CART

#934 feat(CART-CPC-1338): move products between the cart and wish list
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/CartController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClientTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/CartControllerUnitTest.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartController.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/DataLoaderService.java
  cart-service/src/test/java/com/petclinic/cartsservice/businesslayer/CartServiceUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerIntegrationTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  petclinic-frontend/src/features/carts/components/CartItem.css
  petclinic-frontend/src/features/carts/components/CartItem.tsx
  petclinic-frontend/src/features/carts/components/UserCart.tsx
Labels: CART

#978 feat(AUTH-CPC-1359): admin can create role
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Auth/RoleRequestModel.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/RoleController.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/utils/Security/Annotations/SecuredEndpoint.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/RoleControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/RoleService.java
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/RoleServiceImpl.java
  auth-service/src/main/java/com/petclinic/authservice/datalayer/roles/RoleRequestModel.java
  auth-service/src/main/java/com/petclinic/authservice/presentationlayer/Role/RoleController.java
  auth-service/src/test/java/com/petclinic/authservice/businesslayer/RoleServiceUnitTest.java
  auth-service/src/test/java/com/petclinic/authservice/presentationlayer/User/RoleControllerIntegrationTest.java
  petclinic-frontend/src/features/users/api/addRole.ts
  petclinic-frontend/src/features/users/api/getAllRoles.ts
  petclinic-frontend/src/features/users/model/RoleRequestModel.ts
  petclinic-frontend/src/features/users/model/RoleResponseModel.ts
  petclinic-frontend/src/layouts/AppNavBar.tsx
  petclinic-frontend/src/pages/Users/AllRoles.css
  petclinic-frontend/src/pages/Users/AllRoles.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: feat, AUTH

#982 feat(AUTH-CPC-1360): Admin Can Update Role
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/RoleController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/AuthServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/RoleControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/RoleControllerUnitTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/RoleService.java
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/RoleServiceImpl.java
  auth-service/src/main/java/com/petclinic/authservice/presentationlayer/Role/RoleController.java
  auth-service/src/test/java/com/petclinic/authservice/businesslayer/RoleServiceUnitTest.java
  auth-service/src/test/java/com/petclinic/authservice/presentationlayer/User/RoleControllerIntegrationTestV2.java
  petclinic-frontend/src/features/users/api/getRoleById.ts
  petclinic-frontend/src/features/users/api/updateRole.ts
  petclinic-frontend/src/pages/Users/AllRoles.tsx
  petclinic-frontend/src/router.tsx
Labels: feat, AUTH

#1013 feat(AUTH-CPC-1337): admin can update user roles
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Auth/UserResponseDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/UserController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/UserControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  petclinic-frontend/src/features/users/components/UserDetails.css
  petclinic-frontend/src/features/users/components/UserDetails.tsx
Labels: feat, AUTH

#1006 feat(CART-1331): Add-to-wish-list-from-products-view
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/CartController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClientTest.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartService.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/domainclientlayer/ProductClient.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartController.java
  cart-service/src/main/java/com/petclinic/cartsservice/utils/DataLoaderService.java
  cart-service/src/test/java/com/petclinic/cartsservice/MockServerConfigProductService.java
  cart-service/src/test/java/com/petclinic/cartsservice/businesslayer/CartServiceUnitTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/domainclientlayer/ProductClientTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerIntegrationTest.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  cart-service/src/test/resources/application-test.properties
  petclinic-frontend/src/features/carts/api/addToCartFromProducts.ts
  petclinic-frontend/src/features/carts/api/addToWishlistFromProducts.ts
  petclinic-frontend/src/features/products/components/Product.tsx
Labels: CART
