Repository cgerard321/champlain_petclinic, pull requests merged in 2024-09, with the labels that each got.

#620 Feat/visit cpc 1112 add a new exception in case the email is already sent
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/BusinessLayer/VisitService.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/BusinessLayer/VisitServiceImpl.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DataLayer/DataSetupService.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DataLayer/Status.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DataLayer/Visit.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DataLayer/VisitRepo.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/PetResponseDTO.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/PetsClient.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/SpecialtyDTO.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/VetDTO.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/VetsClient.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/Workday.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/Exceptions/DuplicateReminderException.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/PresentationLayer/VisitController.java
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/Utils/EntityDtoUtil.java
Labels: VIST

#622 feat/(CUST-CPC-1077): Update customer information on website
  api-gateway/build.gradle
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/OwnerController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/OwnerControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigCustomersService.java
  petclinic-frontend/src/features/customers/api/updateOwner.ts
  petclinic-frontend/src/features/customers/models/OwnerRequestModel.ts
  petclinic-frontend/src/features/customers/models/OwnerResponseModel.ts
  petclinic-frontend/src/features/customers/models/PetResponseModel.ts
  petclinic-frontend/src/pages/Customer/ProfileEdit.css
  petclinic-frontend/src/pages/Customer/ProfileEdit.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: CUST

#624 bug/(AUTH-CPC-1123): Redirect users to home page after login
  petclinic-frontend/src/pages/Login/Login.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: bug, AUTH

#634 feat/(CUST-CPC-1068): Show all customers
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/OwnerController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/OwnerControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigAuthService.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigCustomersService.java
  petclinic-frontend/src/features/customers/api/getAllOwners.ts
  petclinic-frontend/src/pages/Customer/AllOwners.css
  petclinic-frontend/src/pages/Customer/AllOwners.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: CUST

#639 Feat/prod cpc 1043 product view
  petclinic-frontend/src/features/inventories/models/ProductModels/ProductModel.ts
  petclinic-frontend/src/features/products/ProductList.css
  petclinic-frontend/src/features/products/ProductsList.tsx
  petclinic-frontend/src/features/products/api/getAllProducts.ts
  petclinic-frontend/src/layouts/AppNavBar.tsx
  petclinic-frontend/src/pages/Product/Products.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
  products-service/src/main/java/com/petclinic/products/businesslayer/ProductServiceImpl.java
  products-service/src/main/java/com/petclinic/products/presentationlayer/ProductController.java
Labels: PROD

#638 feat/(AUTH-CPC-1129): Create error pages for 4xx and 5xx status codes
  petclinic-frontend/src/pages/Error/ErrorPage.css
  petclinic-frontend/src/pages/Error/Forbidden.tsx
  petclinic-frontend/src/pages/Error/InternalServerError.tsx
  petclinic-frontend/src/pages/Error/PageNotFound.tsx
  petclinic-frontend/src/pages/Error/RequestTimeout.tsx
  petclinic-frontend/src/pages/Error/ServiceUnavailable.tsx
  petclinic-frontend/src/pages/Error/Unauthorized.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/api/axiosErrorResponseHandler.ts
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: AUTH

#658 feat(INVT-CPC-1045) Added feature to add an inventoryType
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/InventoryServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/InventoryController.java
  inventory-service/src/test/java/com/petclinic/inventoryservice/datalayer/Inventory/InventoryRepositoryTest.java
  inventory-service/src/test/java/com/petclinic/inventoryservice/presentationlayer/InventoryControllerIntegrationTest.java
  petclinic-frontend/src/features/inventories/AddInventoryType.css
  petclinic-frontend/src/features/inventories/AddInventoryType.tsx
  petclinic-frontend/src/features/inventories/InventoriesListTable.css
  petclinic-frontend/src/features/inventories/InventoriesListTable.tsx
  petclinic-frontend/src/features/inventories/api/addInventoryType.ts
Labels: INVT

#668 bug(PROD-CPC-1142): revert products getall
  petclinic-frontend/src/features/products/api/getAllProducts.ts
Labels: PROD

#659 feat(PROD-CPC-1036): product rating frontend
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/RatingsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/RatingController.java
  petclinic-frontend/src/features/products/ProductsList.tsx
  petclinic-frontend/src/features/products/api/deleteUserRating.ts
  petclinic-frontend/src/features/products/api/getAllProducts.ts
  petclinic-frontend/src/features/products/api/getProduct.ts
  petclinic-frontend/src/features/products/api/getUserRating.ts
  petclinic-frontend/src/features/products/api/updateUserRating.ts
  petclinic-frontend/src/features/products/components/Product.tsx
  petclinic-frontend/src/features/products/components/StarRating.css
  petclinic-frontend/src/features/products/components/StarRating.tsx
  petclinic-frontend/src/features/products/models/ProductModels/ProductModel.ts
  petclinic-frontend/src/features/products/models/ProductModels/RatingModel.ts
  products-service/src/main/java/com/petclinic/products/presentationlayer/ratings/RatingController.java
Labels: PROD

#675 bug/(CUST-CPC-1143): Add back roles for pages that were accidentally removed
  petclinic-frontend/src/router.tsx
Labels: bug, CUST

#695 feat/(CUST-CPC-1148): Improve UI/UX for users when navigating and accessing features
  petclinic-frontend/src/context/UserContext.tsx
  petclinic-frontend/src/layouts/AppNavBar.css
  petclinic-frontend/src/layouts/AppNavBar.tsx
  petclinic-frontend/src/pages/Customer/AddingCustomer.tsx
  petclinic-frontend/src/pages/Home/Home.css
  petclinic-frontend/src/pages/Home/Home.tsx
  petclinic-frontend/src/pages/User/Login.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/components/ProtectedRouteProps.tsx
  petclinic-frontend/src/shared/hooks/useAuthRedirect.ts
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: CUST

#699 feat/(AUTH-CPC-1113): Improve UI Design Of Login Page
  package-lock.json
  petclinic-frontend/src/assets/Login/another-doctor-and-doggy.jpg
  petclinic-frontend/src/assets/Login/background-pattern.jpg
  petclinic-frontend/src/assets/Login/doctor-and-doggy.jpg
  petclinic-frontend/src/assets/Login/doggy-and-kitty.jpg
  petclinic-frontend/src/assets/Login/kitty.jpg
  petclinic-frontend/src/assets/Login/sad-doggy.jpg
  petclinic-frontend/src/pages/User/Login.css
  petclinic-frontend/src/pages/User/Login.tsx
  petclinic-frontend/src/pages/User/Slideshow.css
  petclinic-frontend/src/pages/User/Slideshow.tsx
Labels: AUTH

#692 feat/(PROD-CPC-1120): Filter Products By Sale Price
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/ProductsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/ProductController.java
  petclinic-frontend/src/features/products/ProductList.css
  petclinic-frontend/src/features/products/ProductsList.tsx
  petclinic-frontend/src/features/products/api/getAllProducts.ts
  products-service/src/main/java/com/petclinic/products/businesslayer/products/ProductService.java
  products-service/src/main/java/com/petclinic/products/businesslayer/products/ProductServiceImpl.java
  products-service/src/main/java/com/petclinic/products/datalayer/products/ProductRepository.java
  products-service/src/main/java/com/petclinic/products/presentationlayer/products/ProductController.java
  products-service/src/test/java/com/petclinic/products/datalayer/products/ProductRepositoryIntegrationTest.java
Labels: feat, PROD

#706 feat/(VIST-CPC-1125): implement add visits
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Visits/VisitRequestDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/Visits/VisitResponseDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/VisitController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/VisitsServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/visit/VisitControllerUnitTest.java
  petclinic-frontend/src/features/visits/VisitListTable.tsx
  petclinic-frontend/src/features/visits/api/addVisit.ts
  petclinic-frontend/src/features/visits/models/AddingVisit.tsx
  petclinic-frontend/src/features/visits/models/EditVisit.css
  petclinic-frontend/src/features/visits/models/Status.ts
  petclinic-frontend/src/features/visits/models/VisitRequestModel.ts
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: VIST

#719 feat/(VIST-CPC-1167): Update UI for visits section
  petclinic-frontend/src/features/visits/VisitListTable.css
  petclinic-frontend/src/features/visits/VisitListTable.tsx
  petclinic-frontend/src/pages/Visit/Visit.tsx
  petclinic-frontend/src/pages/Visit/Visits.css
Labels: VIST

#755 feat/PROD(CPC-1036): ratings tests
  api-gateway/build.gradle
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/RatingsServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/WireMockRatingControllerIntegrationTest.java
  products-service/src/main/java/com/petclinic/products/presentationlayer/ratings/RatingController.java
  products-service/src/test/java/com/petclinic/products/businesslayer/ratings/RatingServiceUnitTest.java
  products-service/src/test/java/com/petclinic/products/presentationlayer/ratings/RatingControllerIntegrationTest.java
Labels: PROD

#777 feat/(CUST-CPC-1191): admin can update customer information on website
  petclinic-frontend/src/features/customers/api/updateOwner.ts
  petclinic-frontend/src/features/customers/components/AdminUpdateCustomerForm.tsx
  petclinic-frontend/src/features/customers/components/CustomerDetails.css
  petclinic-frontend/src/features/customers/components/CustomerDetails.tsx
  petclinic-frontend/src/features/customers/components/UpdateCustomerForm.css
  petclinic-frontend/src/pages/Customer/AllOwners.tsx
  petclinic-frontend/src/pages/Customer/CustomerDetailsPage.tsx
  petclinic-frontend/src/pages/Customer/UpdateCustomerPage.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/src/shared/models/path.routes.ts
Labels: feat, CUST
