Repository cgerard321/champlain_petclinic, pull requests merged in 2025-10, with the labels that each got.

#1201 Bug(AUTH-CPC-1605) fixed CI test pipeline failing on auth service
  auth-service/src/main/resources/application.yml
Labels: bug, AUTH

#1199 bug(AUTH-CPC-1620): Fix vet card body misalignment on home page
  petclinic-frontend/src/features/home/components/VetCard.css
Labels: bug, AUTH

#1194 feat(CUST-CPC-1611): Delete Pet
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/PetController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/PetControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigCustomersService.java
  docker-compose_no_FE.yml
  petclinic-frontend/src/features/customers/api/deletePet.ts
  petclinic-frontend/src/features/customers/components/UpdatePetForm.tsx
  petclinic-frontend/src/pages/Customer/ProfilePage.css
  petclinic-frontend/src/pages/Customer/ProfilePage.tsx
Labels: CUST

#1209 feat(VETS-CPC-1243): add photo to album
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/VetsServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/VetController.java
  petclinic-frontend/src/features/veterinarians/api/AddPhotoToAlbum.ts
  petclinic-frontend/src/features/veterinarians/api/UploadAlbumPhoto.tsx
  petclinic-frontend/src/features/veterinarians/api/getAlbumByVetId.ts
  petclinic-frontend/src/pages/Vet/VetDetails.tsx
  vet-service/src/main/java/com/petclinic/vet/presentationlayer/VetController.java
  vet-service/src/main/java/com/petclinic/vet/servicelayer/AlbumService.java
  vet-service/src/main/java/com/petclinic/vet/servicelayer/AlbumServiceImpl.java
  vet-service/src/test/java/com/petclinic/vet/dataaccesslayer/BadgeRepositoryTest.java
Labels: feat, VETS

#1196 bug(VIST-CPC-1519): refractored endpoints to V1
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v1/VisitsControllerV1.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/VisitController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/visit/VisitControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/visit/VisitControllerUnitTest.java
  petclinic-frontend/src/features/visits/Emergency/Api/addEmergency.ts
  petclinic-frontend/src/features/visits/Emergency/Api/deleteEmergency.ts
  petclinic-frontend/src/features/visits/Emergency/Api/getAllEmergency.ts
  petclinic-frontend/src/features/visits/Emergency/Api/getEmergencyById.ts
  petclinic-frontend/src/features/visits/Emergency/Api/getEmergencyVisitsByOwnerId.ts
  petclinic-frontend/src/features/visits/Emergency/Api/updateEmergency.ts
  petclinic-frontend/src/features/visits/Review/Api/addCustomerReview.ts
  petclinic-frontend/src/features/visits/Review/Api/addReview.ts
  petclinic-frontend/src/features/visits/Review/Api/editReview.ts
  petclinic-frontend/src/features/visits/Review/Api/getAllReviews.ts
  petclinic-frontend/src/features/visits/Review/Api/getReview.ts
  petclinic-frontend/src/features/visits/VisitListTable.tsx
  petclinic-frontend/src/features/visits/api/addVisit.ts
  petclinic-frontend/src/features/visits/api/exportVisitsCSV.ts
  petclinic-frontend/src/features/visits/api/getAllOwnerVisits.ts
  petclinic-frontend/src/features/visits/api/getAllVisits.ts
  petclinic-frontend/src/features/visits/api/updateVisit.ts
  petclinic-frontend/src/shared/models/path.routes.ts
  visits-service-new/src/main/java/com/petclinic/visits/visitsservicenew/PresentationLayer/VisitController.java
  visits-service-new/src/test/java/com/petclinic/visits/visitsservicenew/BusinessLayer/VisitServiceImplTest.java
  visits-service-new/src/test/java/com/petclinic/visits/visitsservicenew/PresentationLayer/VisitControllerUnitTest.java
Labels: VIST

#1213 bug(AUTH-CPC-1699):Removed dead code and emails page
  auth-service/src/main/java/com/petclinic/authservice/businesslayer/UserServiceImpl.java
  auth-service/src/main/java/com/petclinic/authservice/datalayer/user/UserIdentifier.java
  auth-service/src/main/java/com/petclinic/authservice/domainclientlayer/cart/CartRequest.java
  auth-service/src/main/java/com/petclinic/authservice/domainclientlayer/cart/CartResponse.java
  auth-service/src/main/java/com/petclinic/authservice/domainclientlayer/cart/CartService.java
  auth-service/src/main/java/com/petclinic/authservice/domainclientlayer/cart/CartServiceImpl.java
  auth-service/src/main/java/com/petclinic/authservice/presentationlayer/User/RolesChangeRequestDTO.java
  auth-service/src/main/java/com/petclinic/authservice/presentationlayer/User/TokenResponseDTO.java
  auth-service/src/main/java/com/petclinic/authservice/presentationlayer/User/UserController.java
  auth-service/src/main/java/com/petclinic/authservice/security/JwtTokenUtil.java
  auth-service/src/test/java/com/petclinic/authservice/presentationlayer/User/UserControllerIntegrationTest.java
  petclinic-frontend/src/features/Emailing/Api/GetAllEmails.tsx
  petclinic-frontend/src/features/Emailing/Api/SendRawEmail.tsx
  petclinic-frontend/src/features/Emailing/EmailSentViews/EmailingListTable.css
  petclinic-frontend/src/features/Emailing/EmailSentViews/EmailingListTable.tsx
  petclinic-frontend/src/features/Emailing/Model/EmailResponse.ts
  petclinic-frontend/src/features/Emailing/Model/RawEmailModel.ts
  petclinic-frontend/src/features/Emailing/SendRawEmail/RawEmailCSS.css
  petclinic-frontend/src/features/Emailing/SendRawEmail/RawEmailPopUp.tsx
  petclinic-frontend/src/layouts/AppNavBar.tsx
  petclinic-frontend/src/pages/Emailing/EmailingPage.tsx
  petclinic-frontend/src/router.tsx
  petclinic-frontend/tests/emailing/emailingpagetests.spec.ts
Labels: bug, AUTH, CART

#1210 feat(VETS-CPC-1634): increase test coverage for vets endpoints in api-gateway
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/VetController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/VetsServiceClientIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/ApiGatewayControllerTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/VetControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/VetControllerUnitTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigVetService.java
Labels: VETS

#1216 feat(CUST-CPC-1610): update pet in react frontend
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/BFFApiGatewayController.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v1/PetControllerV1.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v1/PetTypeControllerV1.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/V1/OwnerApiGatewayTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/V1/PetControllerV1Test.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/V1/PetTypeControllerV1Test.java
  petclinic-frontend/src/features/customers/api/deletePet.ts
  petclinic-frontend/src/features/customers/api/getOwner.ts
  petclinic-frontend/src/features/customers/api/getPet.ts
  petclinic-frontend/src/features/customers/api/updatePet.ts
  petclinic-frontend/src/features/customers/components/CustomerDetails.css
  petclinic-frontend/src/features/customers/components/CustomerDetails.tsx
  petclinic-frontend/src/features/customers/components/EditPetModal.tsx
  petclinic-frontend/src/features/customers/components/UpdatePetForm.tsx
  petclinic-frontend/src/features/customers/components/customers.css
  petclinic-frontend/src/pages/Customer/ProfilePage.css
  petclinic-frontend/src/pages/Customer/ProfilePage.tsx
  petclinic-frontend/src/router.tsx
Labels: feat, CUST

#1214 feat(CUST-CPC-1531): Adds AddFile feature to file service
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/FilesServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/dtos/files/FileResponseDTO.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v1/FileControllerV1.java
  api-gateway/src/main/resources/application.yml
  docs/diagrams/C4/champlain-pet-clinic-ms_C4_L2_container_diagram.puml
  files-service/files/businesslayer/file_info_repository_mock_test.go
  files-service/files/businesslayer/file_service.go
  files-service/files/businesslayer/file_service_impl.go
  files-service/files/businesslayer/file_service_unit_test.go
  files-service/files/businesslayer/minio_service_client_mock_test.go
  files-service/files/clientlayer/minio_service_client.go
  files-service/files/clientlayer/minio_service_client_impl.go
  files-service/files/clientlayer/minio_service_client_unit_test.go
  files-service/files/datalayer/buckets.go
  files-service/files/datalayer/file_info.go
  files-service/files/datalayer/file_info_repository.go
  files-service/files/datalayer/file_info_repository_impl.go
  files-service/files/datalayer/file_info_repository_intergration_test.go
  files-service/files/models/file_request_model.go
  files-service/files/presentationlayer/data_test.go
  files-service/files/presentationlayer/file_controller.go
  files-service/files/presentationlayer/file_controller_integration_test.go
  files-service/files/presentationlayer/file_controller_unit_test.go
  files-service/files/presentationlayer/file_service_mock_test.go
  files-service/files/presentationlayer/middleware.go
  files-service/files/util/data_loader.go
  files-service/files/util/exception/invalid_request_model_exception.go
  files-service/files/util/global_exception_handler.go
  files-service/go.mod
  files-service/go.sum
  files-service/main.go
Labels: feat, CUST

#1221 bug(VETS-CPC-1545) : fix faulty and flaky tests in vet-service
  vet-service/src/test/java/com/petclinic/vet/presentationlayer/VetControllerIntegrationTest.java
  vet-service/src/test/java/com/petclinic/vet/presentationlayer/VetControllerUnitTest.java
Labels: bug, VETS

#1215 conf(AUTH-CPC-1696): optimize ci build performance and reliability
  .github/workflows/parallel_microservice_build.yml
  visits-service-new/src/test/java/com/petclinic/visits/visitsservicenew/DomainClientLayer/AuthServiceClientIntegrationTest.java
Labels: bug, AUTH, CONF

#1230 feat(CART-CPC-1560): add move all wishlist to cart
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/CartController.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClientTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/CartControllerUnitTest.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartService.java
  cart-service/src/main/java/com/petclinic/cartsservice/businesslayer/CartServiceImpl.java
  cart-service/src/main/java/com/petclinic/cartsservice/presentationlayer/CartController.java
  petclinic-frontend/src/features/carts/components/CartBillingForm.css
  petclinic-frontend/src/features/carts/components/UserCart.css
  petclinic-frontend/src/features/carts/components/UserCart.tsx
  petclinic-frontend/src/features/home/components/Reveal.css
  petclinic-frontend/src/features/home/components/ServiceCard.css
  petclinic-frontend/src/features/home/components/VetCard.css
  petclinic-frontend/src/features/inventories/InventoriesListTable.module.css
  petclinic-frontend/src/features/inventories/InventoryProducts.css
  petclinic-frontend/src/features/products/ProductList.css
  petclinic-frontend/src/features/products/components/Product.css
  petclinic-frontend/src/features/visits/Review/AddForm.css
  petclinic-frontend/src/features/visits/VisitListTable.css
  petclinic-frontend/src/layouts/AppFooter.css
  petclinic-frontend/src/pages/Contact/Contact.css
  petclinic-frontend/src/pages/FAQ/FAQ.css
  petclinic-frontend/src/pages/Home/Home.css
  petclinic-frontend/src/pages/Inventory/Inventories.module.css
  petclinic-frontend/src/pages/PrivacyPolicy/PrivacyPolicy.css
  petclinic-frontend/src/pages/Product/Products.css
  petclinic-frontend/src/pages/Visit/Visits.css
Labels: feat, CART

#1231 bug(CART-CPC-1559): Create v1 endpoints and change API calls to v1
  api-gateway/src/main/java/com/petclinic/bffapigateway/domainclientlayer/CartServiceClient.java
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v1/CartControllerV1.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/Cart/CartControllerV1UnitTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/OwnerApiGatewayTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/PetControllerV1Test.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/PetTypeControllerV1Test.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/Products/ProductControllerV1IntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v1/Products/ProductControllerV1UnitTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/Products/ProductsControllerIntegrationTest.java
  api-gateway/src/test/java/com/petclinic/bffapigateway/presentationlayer/v2/mockservers/MockServerConfigProductsService.java
  cart-service/src/test/java/com/petclinic/cartsservice/presentationlayer/CartControllerUnitTest.java
  petclinic-frontend/src/features/carts/api/addToCartFromProducts.ts
  petclinic-frontend/src/features/carts/api/addToWishlistFromProducts.ts
  petclinic-frontend/src/features/carts/api/getCart.ts
  petclinic-frontend/src/features/carts/components/CartTable.tsx
  petclinic-frontend/src/features/carts/components/UserCart.tsx
  petclinic-frontend/src/layouts/AppNavBar.tsx
Labels: APIG, CART

#1223 bug(VETS-CPC-1629): Fix the API calls on the vet details page
  petclinic-frontend/src/pages/Vet/VetDetails.tsx
Labels: bug, VETS

#1232 bug(VIST-CPC-1647): fix post emergency visit
  petclinic-frontend/src/features/visits/Emergency/AddEmergencyForm.tsx
  petclinic-frontend/src/features/visits/Emergency/Api/addEmergency.ts
Labels: bug, VIST

#1219 conf(AUTH-CPC-1667): optimize Qodana PR analysis
  .github/workflows/qodana_code_quality.yml
  api-gateway/src/main/java/com/petclinic/bffapigateway/presentationlayer/v2/VetController.java
  cart-service/src/main/java/com/petclinic/cartsservice/dataaccesslayer/cartproduct/CartProduct.java
  qodana.yaml
Labels: AUTH, CONF
